 /* Reset some default styles */
 body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fffdfd;
    color: #333;
    overflow: hidden; /* Hide content that overflows the viewport */
}

/* Flyer container styles */
.page-container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Flyer header styles */
header {
    text-align: center;
    margin-top: 25px;
}

.centered-image {
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

/* Flyer image section styles */
.image-section {
    width: auto;
    text-align: center;
    margin-top: 20px;
}

.semtecbig-image {
    max-width: 50%;
    height: auto;
}

.image-text {
    font-size: 24px;
    font-weight: bold;
    color: #d7cfcf;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: auto;

}

/* Flyer heading styles */
.custom-heading {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

/* Flyer content styles */
.flyer-content {
    font-size: 18px;
    text-align: center;
}

/* Flyer boxes and columns styles */
.columns {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.column {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.box {
    border: 2px solid #0418f6; /* Blue border */
    border-radius: 20px; /* Rounded border for the boxes */
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0418f6; /* Blue background for icons */
    color: #fff; /* Text color of icons */
    width: 40px; /* Width of the rounded icon */
    height: 40px; /* Height of the rounded icon */
    border-radius: 50%; /* Make the icon round */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.box-text {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.small-heading {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-link {
    text-decoration: none;
    color: #000305;
}

/* Hide the default file input and label */
/* Style for upload input */
.upload-input {
    display: none; /* Hide the file input initially */
}



/* Flyer footer styles */
.footer {
 
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-column {
    text-align: center;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.qr {
    max-width: 70px;
    height: auto;
    margin-left: 200px;
    margin-top: -50px;
}

/* Mobile-first responsive design */
@media (min-width: 768px) {
    .columns {
        flex-wrap: wrap;
    }

    .column {
        width: calc(33.33% - 20px);
    }
}