
/* styles.css */

/* Center the entire page content */
body, html {
    height: 150vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Center the header image */
header {
    text-align: center;
}

.centered-image {
    max-width: 300px; /* Set the maximum width of the image */
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
}

/* Center the image section content */
.image-section {
    text-align: center;
    margin-top: 20px; /* Add space between header and section if needed */
}
.semtecbig-image{
    width: 100%; /* Set the image width to 100% */
    object-fit: cover; /* Ensure the image covers the available space */
}

.centered-content {
    display: inline-block;
    text-align: left;
    position: relative;
}

/* Style for the text on the right side bottom */
.image-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #d4d3d3;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: nowrap;
}



/* Center the heading and add top margin */
.centered-heading {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

/* Style for the custom heading */
.custom-heading {
    font-size: 25px; /* Medium size */
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Submit BOM */


/* Style for the column container */
.columns {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Style for individual columns */
.column {
    flex: 1;
    padding-left: 20px; /* Space around the columns */
    border-radius: 10px; /* Rounded border for the columns */
}

/* Style for individual boxes */
.box {
    border: 2px solid #0418f6; /* Blue border */
    border-radius: 20px; /* Rounded border for the boxes */
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px; /* Space between boxes */
    position: relative;
}

/* Style for box icons */
.icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0418f6; /* Blue background for icons */
    color: #fff; /* Text color of icons */
    width: 40px; /* Width of the rounded icon */
    height: 40px; /* Height of the rounded icon */
    border-radius: 50%; /* Make the icon round */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

/* Style for box text */
.box-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Style for small heading */
.small-heading {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Style for box link */
.box-link {
    text-decoration: none;
    color: #000305; /* Blue color for links */
}

/* Style for upload input */
.upload-input {
    display: none; /* Hide the file input initially */
}



/* Footer */
/* Style for the footer */
.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    width: 100%;
    margin-top:-80px;
}

/* Style for footer columns */
.footer-column {
    flex: 1;
    margin-top:-20px ;
    
    text-align: center;
}


/* Style for social icons */
.social-icons {
    list-style: none;
    padding: 0px;
    align-items: start;
}

.social-icons li {
    margin-bottom: 10px;
    margin-left: -20px;
}

.social-icons img {
    width: 50px;
    height: 50px;
}

/* Style for QR code */
.social-column img {
    max-width: 20%;
    height: auto;
}
.qr {
   width: 70px; /* Adjust the size of the QR code image */
    height: auto;
    margin-right: 20px; /* Add space between social icons and the QR code */
}


/* Mobile-first responsive design */

/* Apply a mobile-first approach with a media query */
@media (min-width: 768px) {
    /* Adjust styles for screens wider than 768px */
  
    /* Center the header image */
    .centered-image {
      display: 100%;
      margin: 0 auto;
    }
  
    /* Increase font size for the heading */
    .custom-heading {
      font-size: 36px;
    }
  
    /* Make columns responsive */
    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .column {
      width: 30%; /* Adjust this value as needed */
      margin-bottom: 20px;
    }
  }
  
  /* Add more media queries for larger screens if necessary */
  
  /* General styles for all screen sizes */
  
  /* Ensure images are responsive */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Add some padding and spacing for better readability on smaller screens */
  body {
    padding: 20px;
  }
  
  /* Define responsive font sizes */
  @media (max-width: 768px) {
    .custom-heading {
      font-size: 24px;
    }
  }
  
  /* Style the footer for different screen sizes */
  .footer {
    color: #fff;
    padding: 20px;
  }
  
  .social-icons li {
    display: inline-block;
    margin: auto;
  }
  
  /* Adjust the size of the QR code in the footer */
  .footer-column img {
    max-width: 20%;
    height: auto;
  }
  


